@page "/allboards"
@inherits Infrastructure.Bases.BoardsOverviewBase

<h1 class="page-title">All Boards</h1>

@if (FullBoard == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Board</th>
            <th>Description</th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var board in FullBoard.Boards.boards)
        {
            <tr>
                <td>@board.board</td>
                <td>@board.meta_description</td>
            </tr>
        }
        </tbody>
    </table>
}